<%= form_for [@event, subscription] do |f| %>
    <%= render partial: 'partials/form_errors', locals: {model: subscription} %>

    <% unless user_signed_in? %>
        <div class="form-group">
          <%= f.text_field :user_name, class: 'form-control', placeholder: t('links.name.input_name'), style: "width: 300px" %>
        </div>

        <div class="form-group">
          <%= f.text_field :user_email, class: 'form-control', placeholder: t('links.email.input_email'), style: "width: 300px" %>
        </div>
    <% end %>

      <div class="actions">
        <%= f.submit 'Подписаться', class: 'btn btn-primary' %>
      </div>
<% end %>
