<h1><%= t '.title' %></h1>
<p><%= @comment.body %></p>
<p><%= t '.author' %>: <strong><%= @comment.user_name %></strong></p>

<hr/>

<h3><%= t '.event' %>: <strong>"<%= @event.title %>"</strong></h3>
<h4><%= t '.datetime' %> <strong><%= l @event.datetime %></strong></h4>
<h4><%= t '.owner' %>: <strong><%= @event.user.name %></strong></h4>

<p>Информация о событии <%= link_to 'здесь', @event %></p>
