<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Events" %></title>

  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "Events", root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse navbar-nav justify-content-end">
      <% if user_signed_in? %>
        <%= link_to 'Профиль', current_user, class: "nav-link" %>
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: "nav-link" %>
      <% else %>
        <%= link_to 'Войти', new_user_session_path, class: "nav-link" %>
        <%= link_to 'Зарегистрироваться', new_user_registration_path, class: "nav-link" %>
      <% end %>
    </div>
  </div>
</header>

<div class="container">
  <% if flash.any? %>
    <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
      <% flash.each do |name, message| %>
        <%= content_tag :div, message, style: "font-size: 1.3rem" %>
      <% end %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <%= yield %>
</div>

<footer class="footer mt-3 py-3 bg-light">
  <div class="container">
    <span class="text-muted">&copy; Nikolay Zhurilo with GoodProgrammer 2020</span>
  </div>
</footer>
</body>
</html>
